<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs'); -%>
</head>
<body>
    <%- include('./components/header.ejs'); -%>
<main>
    <section class="singleArt">

        <% data.map((art) => {
            const img = art.webImage.url.slice(0, -3) + "=s1000"
        %>
            <div class="singleArtContainer">
                <div>
                    <h3><%= art.title %></h3>
                    <p><%= art.longTitle %></p>
                    <a href="<%= art.link %>" target="_blanc">Bekijk hier meer over dit kunstwerk.</a>
                    <a href="../">Terug naar resultaten</a>
                </div>
                <img src="<%= img %>"/>
            </div>
        </a>
        <% }) %>

    </section>
</main>
</body>
</html>