<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs'); -%>
</head>
<body>
    <%- include('./components/header.ejs'); -%>
<main>
    <section class="singleArt">

        <%
            const img = data.webImage.url.slice(0, -3) + "=s1000"
        %>
            <div class="singleArtContainer">
                <div>
                    <h3><%= data.title %></h3>
                    <p><%= data.label.description ? data.label.description : 'Geen beschrijving' %><br><br></p>
                    <a href="<%= data.link %>" target="_blanc">Bekijk hier meer over dit kunstwerk.</a>
                    <a href="javascript:history.back();">Terug naar resultaten</a>
                </div>
                <img src="<%= img %>"/>
            </div>
        </a>

    </section>
</main>
</body>
</html>