<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs') -%>
</head>
<body>
    <%- include('./components/header.ejs'); -%>
<main>
    <section class="container">
        <% if (data.length > 0) {
        data.map((art) => {
            const img = art.webImage.url.slice(0, -3) + "=s1000"
        %>

        <a href="art/<%= art.objectNumber %>">
            <article style="background-image: url('<%= img %>')">
                <div>
                    <h3><%= art.title %></h3>
                    <p><%= art.principalOrFirstMaker %></p>
                </div>
            </article>
        </a>
        <% })} else {%>
        <article class="noResults">
            <p>Er zijn geen resultaten gevonden. Probeer een andere zoekopdracht! </p>
        </article>
        <%}%>
    </section>
</main>
</body>
</html>